.no_margin {
	margin: 0px;
}

.no_padding {
	padding: 0px;
}

#top_container {
	display: grid;
	width: 100%;
}

#logo {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;

	margin: 10px;

	width: 50%;
	height: 50%;
	z-index: 1;
}

#top_bar {
	display: flex;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
	width: 100%;
	height: 100px;

	background-color: #fc6600;
}