.no_margin {
	margin: 0px;
}

.no_padding {
	padding: 0px;
}

#top_container {
	display: flex;
	position: sticky;

	flex-wrap: wrap;

	width: 100%;
	height: 200px;

	background-color: #fc6600;
}

#logo_wrapper {
	display: flex;
	align-items: center;
	z-index: 1;
}

#logo_link {
	width: content;
	height: content;
}

#logo {
	width: 10%;
	height: auto;
	z-index: 1;
}

#searchbox_wrapper {
	display: flex;
	align-items: center;
	width: auto;
	z-index: 1;
}

#searchbox {
	width: 100%;
	height: 20px;

	color: black;
}

#list_quizz {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.quizz {
	border: solid black ;
	margin: 5%;
	text-align: center;
	padding: 10%;
	width: 15%;
	height: 20%;
	border-radius: 20%;
}