.no_margin {
	margin: 0px;
}

.no_padding {
	padding: 0px;
}

#top_container {
	display: grid;
	position: sticky;

	width: 100%;
}

#logo {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;

	margin: 10px;

	width: 10%;
	height: auto;
	z-index: 1;
}

#top_bar {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;
	width: 100%;
	height: 200px;

	background-color: #fc6600;
}

#top_bar:after {
	content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    left: 30%;
    bottom: 50%;
    background-color: #ffffff;
    border-radius: 50%;
}