@font-face {
	font-family: "Code New Roman";
	src: url("/l1_info_4/Quizzy/fonts/code_new_roman/Code_New_Roman.otf") format("opentype"),
		url("/l1_info_4/Quizzy/fonts/code_new_roman/Code_New_Roman.woff") format("woff");
}

* {
	font-family: "Code New Roman", sans-serif, monospace, system-ui;
}

.no_margin {
	margin: 0px;
}

.no_padding {
	padding: 0px;
}

#header {
	position: sticky;
	top: 0;
}

#top_container {
	display: flex;
	align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    width: 100%;
    height: 150px;

    background-color: #fc6600;
}

#logo_wrapper {
	display: flex;
	align-items: center;
	flex-grow: 1;
	z-index: 1;
}

#logo {
	max-width: 200px;
	min-width: 50px;
	height: auto;
	z-index: 1;
}

#searchbox_wrapper {
	display: flex;
	align-items: center;
	flex-grow: 2;
	z-index: 1;
}

#searchbox {
	width: 100%;
	max-width: 500px;
	height: 30px;

	color: black;
	font-size: 24px;
	border: 1px solid #ccc;
	border-right: 0px;
}

#searchbox_icon {
	height: 30px;
	width: auto;
	background-color: white;
	border: 1px solid #ccc;
	border-left: 0px;
}

#list_quizz {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.quizz {
	border: solid black ;
	margin: 5%;
	text-align: center;
	padding: 15%;
	border-radius: 20%;
	background-position: center;
	display: flex;
	justify-content: center;
	overflow-wrap: break-word;
	width: 1em;
	height: 1em;
	font-size: 1.5em;
}

#test {
	background-image: url("../images/test.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.nomQuizz {
	background-color: white;
	padding: 5%;
}