.no_margin {
	margin: 0px;
}

.no_padding {
	padding: 0px;
}

#top_container {
	display: flex;
	position: sticky;

	justify-content: space-evenly;
	flex-wrap: wrap;

	width: 100%;
	height: 200px;

	background-color: #fc6600;
}

#logo_wrapper {
	display: flex;
	align-items: center;
	z-index: 1;
}

#logo_link {
}

#logo {
	width: 200px;
	height: auto;
	z-index: 1;
}

#searchbox_wrapper {
	flex-grow: 3;

	display: flex;
	align-items: center;
	width: auto;
	z-index: 1;
}

#searchbox {
	width: 100%;
	max-width: 500px;
	height: 20px;

	color: black;
}

#list_quizz {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.quizz {
	border: solid black ;
	margin: 5%;
	text-align: center;
	padding: 10%;
	width: 15%;
	height: 20%;
	border-radius: 20%;
	background-position: center;
	display: flex;
	justify-content: center;
	overflow-wrap: break-word;
}

#test {
	background-image: url("../images/test.jpg");
}

.nomQuizz {
	background-color: white;
	padding: 1%;
	border: solid white ;
	border-radius: 30%;
}