@font-face {
	font-family: "Code New Roman";
	src: url("/l1_info_4/Quizzy/fonts/code_new_roman/Code_New_Roman.otf") format("opentype"),
		url("/l1_info_4/Quizzy/fonts/code_new_roman/Code_New_Roman.woff") format("woff");
}

* {
	font-family: "Code New Roman", sans-serif, monospace, system-ui;
}

.no_margin {
	margin: 0px;
}

.no_padding {
	padding: 0px;
}

#header {
	position: sticky;
	top: 0;
}

#top_container {
	display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    width: 100%;
    height: 200px;
}

#top_svg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

#logo_wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-grow: 1;
	z-index: 1;
}

#logo {
	max-width: 200px;
	min-width: 50px;
	height: auto;
	z-index: 1;
}

#menu_icon {
	margin: 10px;
}

#searchbox_wrapper {
	display: flex;
	align-items: flex-start;
	padding-top: 60px;
	flex-grow: 2;
	z-index: 1;
}

#searchbox {
	width: 100%;
	max-width: 500px;
	height: 30px;

	color: black;
	font-size: 24px;
	border: 1px solid #ccc;
	border-right: 0px;
}

#searchbox_icon {
	height: 30px;
	width: auto;
	background-color: white;
	border: 1px solid #ccc;
	border-left: 0px;
}

#menu_pannel {
	height: 100%;
	width: 50%;
	border-right: 5px black;
	background-color: yellow;
}

#menu_top_wrapper {
	top: 210px;
}

#menu_bottom_wrapper {
	bottom: 10px;
}




#list_quizz {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	justify-content: center;
}

.quizz {
	border: solid black ;
	margin: 5%;
	text-align: center;
	padding: 15%;
	border-radius: 20%;
	background-position: center;
	display: flex;
	justify-content: center;
	width: 3em;
	height: 3em;
	font-size: 1.5em;
}

#test {
	background-image: url("../images/test.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.nomQuizz {
	background-color: white;
	padding: 5%;
	width: 25vw;
	height: fit-content;
	overflow-wrap: anywhere;
	flex-shrink: 0.5;
}

#cont_profil {
	display: flex;
	justify-content: space-around;
}

#profil_pic {
	max-width: 10%;
	max-height: 10%;
	height: auto;
	width: auto;
}