.no_margin {
	margin: 0px;
}

.no_padding {
	padding: 0px;
}

#top_container {
	display: flex;
	position: sticky;

	flex-flow: wrap;

	width: 100%;
	height: 200px;

	background-color: #fc6600;
}

#logo_wrapper {
	align-items: center;
	width: 30%;
	z-index: 1;
}

#logo {


	width: 10%;
	height: auto;
	z-index: 1;
}

#searchbox_wrapper {
	align-items: center;
	width: auto;
	z-index: 1;
}

#searchbox {
	width: 100%;
	height: 10%;

	color: black;
}